.calibre {
  opacity: 1;
  text-decoration: none;
}
.calibre1 {
  display: block;
  font-family: "Work Sans", sans-serif;
  font-size: 2em;
  font-weight: bold;
  line-height: 1.2;
  opacity: 1;
  padding: 2rem;
  margin: 1.25rem 0;
}
.calibre2 {
  display: block;
  opacity: 1;
}
.calibre3 {
  clear: right;
  display: block;
  font-family: "Work Sans", sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1.2;
  opacity: 1;
  overflow-wrap: break-word;
  padding: 0;
  margin: 1.25rem 0;
}
.calibre4 {
  display: block;
  margin-bottom: 1.25rem;
  margin-top: 1.25rem;
  max-width: 50rem;
  opacity: 1;
  word-wrap: break-word;
}
.calibre5 {
  display: block;
  font-family: "Work Sans", sans-serif;
  font-size: 1.125em;
  color: dark-gray;
  font-weight: bold;
  line-height: 1.2;
  opacity: 1;
  overflow-wrap: break-word;
  padding: 0;
  margin: 1.25rem 0rem;
}
.calibre6 {
  font-family: Menlo, monospace;
  font-size: 0.875em;
  line-height: 1.2;
  opacity: 1;
  word-spacing: -0.3em;
}
.calibre7 {
  border-radius: 0.3125rem;
  display: block;
  font-family: Menlo, monospace;
  font-size: 0.875em;
  line-height: 1.2;
  opacity: 1;
  overflow-x: auto;
  white-space: pre-wrap;
  padding: 0.625rem;
  margin: 1.25rem;
}
.calibre8 {
  display: block;
  font-size: 0.875em;
  line-height: 1.2;
  opacity: 1;
  margin: 1.25rem;
}
.calibre9 {
  display: block;
  font-size: 1em;
  line-height: 1.2;
  opacity: 1;
  margin: 0 0 0 1.25rem;
}
.calibre10 {
  font-family: Menlo, monospace;
  font-size: 1em;
  line-height: 1.2;
  opacity: 1;
  word-spacing: -0.3em;
}
.calibre11 {
  border-radius: 0.3125rem;
  display: block;
  font-family: Menlo, monospace;
  font-size: 1em;
  line-height: 1.2;
  opacity: 1;
  overflow-x: auto;
  white-space: pre-wrap;
  padding: 0.625rem;
  margin: 1.25rem;
}
.calibre12 {
  font-style: italic;
  opacity: 1;
}
.calibre13 {
  display: block;
  list-style-type: disc;
  margin-bottom: 1.25rem;
  margin-right: 1.25rem;
  margin-top: 1.25rem;
  opacity: 1;
}
.calibre14 {
  display: list-item;
  max-width: 50rem;
  opacity: 1;
  word-wrap: break-word;
}
.calibre15 {
  font-family: Menlo, monospace;
  font-size: 0.77778em;
  opacity: 1;
  word-spacing: -0.3em;
}
.calibre16 {
  display: block;
  opacity: 1;
  margin: 1em;
}
.comment {
  opacity: 1;
}
.container {
  display: block;
  max-width: none;
  opacity: 1;
  text-align: left;
  padding: 0 1.25rem;
}
.site {
  display: flex;
  flex-direction: column;
  font-family: Roboto, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.2;
  min-height: 100vh;
  opacity: 1;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  margin: 0 5pt;
}
.site-content {
  flex: 1;
  opacity: 1;
  width: 100%;
}
.pcalibre:hover {
  text-decoration: underline;
}
